@font-face {
    font-family: "Cliffy";
    src: url("./Fonts/Greycliff-CF-Light.otf") format("opentype"), url(./Fonts/Greycliff-CF-Bold.otf) format("opentype");
  }

body{
    margin: 0;
    font-family:"Cliffy", sans-serif;
}
h2{
    font-weight: 900;
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: e5e7eb;
}

.contact{
    padding: 12 25 12 25;
    border: solid #3882f6;
    border-radius: 8px;
    background-color: #3882f6;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

.contact:hover{
    background-color: transparent;
    
}

.header-logo{
    margin: 0;
    font-size: 24px;
}

.section1{
    height: auto;
    display: flex;
    flex-direction:column;
    background-color: #1F2937;
    padding: 0 100px 0 100px

}

.section1-header{
    color: white;
    border-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    gap: 12px;
}

.links{
    margin-left: auto;
}

.section1-content{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 80px;
    justify-content: space-evenly;
}

.section1-text{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section1-title{
    color: #f9faf8;
    font-size: 48px;
    margin-bottom: 0;
}
.section1-description{
    color: #e5e7eb;
    font-size: 18px;
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
    color: #e5e7eb;
    font-size: 18px;
}

.section2{
    height: 450px;
    display: flex;
    flex-direction:column;
    padding: 40px 100px 40px 100px;
    align-items: center;
    justify-content: center;
}

.section2-content{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    text-align: center;
    background-color:rgb(233, 233, 233);
    padding: 20 20 0 20;
    border-radius: 7px;
    box-shadow: 0px 7px rgb(209, 209, 209);
}

.section2-title{
    color: #1F2937;
    font-size: 38px;
    margin-top: 0;
}

.html-text, .css-text, .python-text, .wordpress-text{
    border-radius: 8px;
    background-color: #1F2937;
    color: white;
}

.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    background-color: #e5e7eb;
    padding: 0 100 0 100;
}

.section3-content{
    width: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.quote{
    font-size: 22px;
    font-style: italic;
}
