body{
    margin: 0;
    font-family:"Nunito", sans-serif;
}
h2{
    font-weight: 700;
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: e5e7eb;
}

.contact{
    padding: 12 25 12 25;
    border: solid #3882f6;
    border-radius: 8px;
    background-color: #3882f6;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

.contact:hover{
    background-color: transparent;
    
}

.header-logo{
    margin: 0;
    font-size: 24px;
}

.section1{
    height: auto;
    display: flex;
    background-color: #1F2937;
    flex-direction:column;
    padding: 0 100px 0 100px

}

.section1-header{
    color: white;
    border-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.section1-content{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-between;
    gap: 50px;
}

.content-text{
    width: 550px;
}

.content-title{
    color: #f9faf8;
    font-size: 48px;
}
.description{
    color: #e5e7eb;
    font-size: 18px;
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
    color: #e5e7eb;
    font-size: 18px;
}
